/** Header Section */
header .container{  padding: 1rem 6rem;}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;


  & #logo{
    font-weight: 800;
    font-size: x-large;


    &:hover{
      scale: 1.09;
    }
  }
}
.nav-list{
  display: flex;
  align-items: center;


  & li{
    margin: 0 1rem;
  }

}

i:hover{
  scale: 1.09;
}


.head-category{
  background-color: black;
  
  /* position: fixed; */
  /* top: 1px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;



  & a{
    color: white;
    padding: 1rem;

    &:hover{
      color: black;
      background-color: #fff;
    }
  }
}